#img{
    width: 100px;
}
.product{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(63, 60, 61);
}
h1{
    text-align: center;
}
.total_btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    
}
#btn{
   height: 50px;
   background-color: rgb(37, 55, 173);
   color: aliceblue;
   border: none;
   border-radius: 5px;
}
#totalPrice{
    color: rgb(89, 31, 144);
}